*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
#backgound{
    position: fixed;
    z-index: -9;
    width: 100%;
    height: 100%;
    background-color: #000;
}

#overlay{
    position: fixed;
    z-index: -8;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-image: url(/img/transparent-plastic-texture-PNG.png);
}
#hero{
    position: relative;
    width: 100%;
    height: 60vh;
}

#hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    height: 30%;
}

#hero nav #links{
    display: flex;
    align-items: center;
}

#links a{
    color: #ffff;
    text-decoration: none;
    margin-right: 30px;
    font-size: 12px;
}

#hero nav img{
    width: 120px;
}

#hero nav>img{
    width: 100px;
}

#hero>h1{
    font-family: sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 70px;
    font-size: 55px;
    text-align: center;
    width: 80%;
    color: white;
    font-weight: 100;
}

#down{
    width: 100%;
}

#down #image{
    display: flex;
    justify-content: center;
    width: 100%;
}

#down #image img{
    width: 350px;
}

#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

#text h3{
    color: #ffff;
    font-weight: 100;
    text-align: center;
    width: 45%;
    font-size: 30px;
    margin-bottom: 50px;
}
#circle{
    width: 100px;
    transform: translate(-50%, -50%);
    height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    pointer-events: none;
    position: absolute;
}


#last{
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
  }
  
  @keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }