*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fffbe2;
    height: 40px;
    width: 100%;
}
.nav i {
    margin-left: 10px;
}
.nav p{
    font-size: small;
    color: #3b5998;
}
.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.top img{
    width: 120px;
}

input{
    width: 90vw;
    margin: 3px;
    border-radius: 5px;
    background-color: #f5f6f7;
    border-style: solid;
    padding: 10px;
}

.btn{
    width: 96vw;
    margin: 5px;
    border-radius: 5px;
    background-color: #1877f2;
    color: white;
    font-weight: 700;
    font-size: large;
    border-style: solid;
    padding: 10px;
}

.forgotten{
    color: #1877f2;
    margin: 10px;
    font-size: 15px;
}

.hr{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.onehr{
    border: 1px solid rgb(201, 201, 201);
    width: 42vw;
}

.btn2{
    width: 75vw;
    margin: 5px;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    padding: 10px;
}